// app global css in SCSS form
@import 'quasar.variables';

html {
  font-size: 14px;
}

@media (min-width: 1920px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: $light-body-background;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: $light-text-normal;
}

body.body--dark {
  background-color: $dark-body-background;
  color: $dark-text-normal;
}

.frame {
  padding: 8px 16px;
  background-color: $light-frame-background;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.body--dark .frame {
  background-color: $dark-frame-background;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.9);
}

.frame-row {
  padding: 8px 0;
}

.text-normal {
  color: $light-text-normal;
}

.body--dark .text-normal {
  color: $dark-text-normal;
}

.text-label {
  color: $light-text-label;
}

.body--dark .text-label {
  color: $dark-text-label;
}

.text-field {
  font-size: 1rem;
}

.text-disabled {
  color: $light-text-disabled;
}

.text-small {
  font-size: 0.85rem;
}

.text-header-normal {
  color: $light-header-text-normal;
}

.text-monospace {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem !important;
}

.body--dark .text-disabled {
  color: $dark-text-disabled;
}

.account-profile {
  background-color: $light-button-label-background;
  color: $light-button-label-color;
}

.body--dark .account-profile {
  background-color: $dark-button-label-background;
  color: $dark-button-label-color;
}

.account-profile-header {
  background-color: $light-frame-background;
  color: $light-header-background;
}

.body--dark .account-profile-header {
  color: $dark-header-background;
}

.q-menu {
  border-radius: 4px;
  background-color: $light-frame-background;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid $light-border-normal;
}

.body--dark .q-menu {
  background-color: $dark-frame-background;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.9);
  border: 1px solid $dark-border-normal;
}

.q-field--outlined .q-field__control:before {
  border-color: $light-border-normal;
}

.q-field--outlined .q-field__control:hover:before {
  border-color: $dark-border-normal;
}

.q-field--outlined.q-field--highlighted .q-field__control:after {
  border-color: $light-border-highlighted;
}

.q-field--highlighted .q-field__label {
  color: $light-text-highlighted;
}

.body--dark .q-field--outlined .q-field__control:before {
  border-color: $dark-border-normal;
}

.body--dark .q-field--outlined .q-field__control:hover:before {
  border-color: $light-border-normal;
}

.body--dark .q-field--outlined.q-field--highlighted .q-field__control:after {
  border-color: $dark-border-highlighted;
}

.body--dark .q-field--highlighted .q-field__label {
  color: $dark-text-highlighted;
}

.q-tab__label {
  font-weight: unset;
}

.q-tab-panels {
  background-color: transparent;
}

.q-tab-panel {
  padding: 16px 0;
  color: $light-text-normal;
}

.body--dark .q-tab-panel {
  color: $dark-text-normal;
}

.q-table th {
  font-size: 1rem;
  color: $light-text-highlighted;
  border-bottom: 1px solid $light-border-normal;
}

.q-table--dark .q-table th {
  color: $dark-text-highlighted;
  border-bottom: 1px solid $dark-border-normal;
}

.q-table tbody td {
  font-size: 1rem;
}

.q-table--horizontal-separator tbody tr:not(:last-child) > td {
  border-bottom: 1px solid $light-border-normal;
}

.body--dark .q-table--horizontal-separator tbody tr:not(:last-child) > td {
  border-bottom: 1px solid $dark-border-normal;
}

thead tr:first-child th {
  background-color: $light-frame-background;
  position: sticky;
  z-index: 1;
}

.body--dark thead tr:first-child th {
  background-color: $dark-frame-background;
}

thead tr:first-child th {
  top: 0;
}

.q-table__bottom {
  border-top: 1px solid $light-border-normal;
}

.q-table--dark .q-table__bottom {
  border-top: 1px solid $dark-border-normal;
}


.q-checkbox--dark .q-checkbox__inner--truthy {
  color: $dark-text-highlighted;
}

.q-radio .q-radio__inner--truthy {
  color: $light-text-highlighted;
}

.q-radio--dark .q-radio__inner--truthy {
  color: $dark-text-highlighted;
}

.scrollbar  {
  scrollbar-width: thin;
  scrollbar-color: $light-border-normal $light-frame-background;
}

.body--dark .scrollbar  {
  scrollbar-color: $dark-border-normal $dark-frame-background;
}